<div class="container mt-5">

  <% if current_user.entraineur? %>
  <div class="training-new text-end mb-4">
    <%= link_to "Créer un entraînement", new_training_path, class:"btn-add text-white" %>
  </div>
  <% end %>

    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <h1 class="my-4 text-center">Entraînements</h1>
        <% if @trainings.present? %>
          <% @trainings.each do |t| %>
          <div class="d-flex align-items-center">
            <div>
              <%= link_to training_path(t) do %>
                <span class="text-white"><%= t.date.strftime("%d/%m/%Y") %></span>
                <span><%= t.title %></span>
            </div>
          </div>
          <hr>
            <% end %>
          <% end %>
        <% else %>
        <div class="text-center">
          <p><em>Aucun entraînement pour le moment </em></p>
        </div>
      <% end %>
      </div>
    </div>

</div>
