<div class="container mt-5">

  <% if current_user.entraineur? %>
  <div class="training-new text-end mb-4">
    <%= link_to "Créer un entraînement", new_training_path, class:"btn-add text-white" %>
  </div>
  <% end %>

  <%= month_calendar(locale: :fr, events: @trainings) do |date, trainings| %>
  <div class="day-container">
    <div class="day-number"><%= date.day %></div>
    <div class="mood-circle-wrapper">
      <% if trainings.any? %>
        <% trainings.each do |training| %>
          <%= link_to (training.title.presence || "Entraînement"), training_path(training) %><br>
        <% end %>
      <% else %>
        <p>Pas d'entraînement</p>
      <% end %>
    </div>
  </div>
<% end %>


</div>
