<div class="container mt-5">

  <% if current_user.entraineur? %>
  <div class="training-new text-end mb-3">
    <%= link_to "Créer un entraînement", new_training_path, class:"btn-add text-white" %>
  </div>
  <% end %>

    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <h1 class="my-4 text-center">Mes Entrainements</h1>

          <% @trainings.each do |t| %>
          <div class="d-flex align-items-center">
            <div>
              <%= link_to training_path(t) do %>
                <span class="text-white"><%= t.date.strftime("%d/%m/%Y") %></span>
                <span class="fs-5"><%= t.title %></span>
            </div>

          </div>
          <hr>
            <% end %>
          <% end %>
        </div>

    </div>
</div>
