<%# app/views/trainings/index.html.erb %>
<div class="container mt-5">
  <% if current_user.entraineur? %>
    <div class="text-end mb-4">
      <%= link_to "Créer un entraînement", new_training_path, class: "btn-add text-white text-end" %>
    </div>
  <% end %>

  <h1 class="my-4 text-center">Entraînements</h1>

  <div class="training-grid">
    <% @trainings.each do |t| %>
      <% past = (t.date < Date.current) %>
      <%= link_to training_path(t),
                  class: "training-square #{'past' if past}" do %>
        <div class="day-number"><%= t.date.day %></div>
        <div class="month-abbrev"><%= l t.date, format: "%b", locale: :fr %></div>
      <% end %>
    <% end %>
  </div>
</div>
