.footer {
  background: #F5F5F5;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  color: rgba(0,0,0,0.3);
}

.footer > a {

  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  text-align: center
}
