
// # © 2025 Violaine Soulas Tous droits réservés.
// #  Propriété exclusive de Violaine Soulas.
// #  Toute reproduction, même partielle, est interdite sans l'autorisation écrite de Violaine Soulas.
.footer {
  background: #F5F5F5;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  position: fixed;
  // bottom: 0;
  // left: 0;
  z-index: 9999;
  // width: 100%;
}


.footer > a {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  text-align: center
}

a.nav-link.active{

  color:#72BCE3
}
.nav-link.active i {
  // color: #90B695; /* vert pour l’icône active */
  color:#72BCE3; /* bleu pour l’icône active */
}

.nav-link i {
  color: rgb(38, 38, 38); /* noir pour les icônes non actives */
}

.footer .nav-link {
  text-decoration: none;
  color:black;
  font-size: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
