// Specific CSS for your home-page
// # © 2025 Violaine Soulas Tous droits réservés.
// #  Propriété exclusive de Violaine Soulas.
// #  Toute reproduction, même partielle, est interdite sans l'autorisation écrite de Violaine Soulas.
.card-home {
  // background-color: rgb(23, 13, 12);
  background-image: url("ballon-noiretblanc.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 350px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  cursor: pointer;
  opacity: 0.9;
}


.prochain-entrainement {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  // letter-spacing: 0.2rem;
}

.card-home {
  h2 {
    font-weight: bolder;
  }
}

.card-home:hover {
  color:white
}
/* Par défaut (mobile) */
.responsive-row {
  margin-left: 0;
  margin-right: 0;
  display: block;
}

/* Tablette et plus grand */
@media (min-width: 576px) {
  .responsive-row {
    display: flex;
    justify-content: center;
    margin-left: 175px;
    padding-left: 0;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
}

#card-login {
  // background-color: #90B695;
  background-color: #72BCE3;
  opacity: 0.9;
  border-radius: 10px;
  border: 3px solid black;

  }
