// Specific CSS for your home-page
.card-home {
  background-color: rgb(23, 13, 12);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  cursor: pointer;
}

.prochain-entrainement {
  text-align: center;
}

/* Par défaut (mobile) */
.responsive-row {
  margin-left: 0;
  margin-right: 0;
  display: block;
}

/* Tablette et plus grand */
@media (min-width: 576px) {
  .responsive-row {
    display: flex;
    justify-content: center;
    margin-left: 175px;
    padding-left: 0;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
}
