@import "show";
@import "new";

.add-player-profil a,
.player-profil-index-container a {
  text-decoration: none;
  color: inherit;
}
.card>i {
  font-size:54px;
  margin-top: 20px;
  color : #A3A3A3;
}

.card {
  min-height: 235px;
  min-width: 260px;
  max-width: 260px;
  border-radius: 10px;
  border: 3px solid #A3A3A3;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}
