@import "show";
.player-profil-index-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 20px;
  margin: 20px;
  padding: 20px;
}
.add-player-profil a,
.player-profil-index-container a {
  text-decoration: none;
  color: inherit;
}

