@import "show";
@import "new";



.add-player-profil a,
.player-profil-index-container a {
  text-decoration: none;
  color: inherit;
}
.card>i {
  font-size:54px;
  margin-top: 20px;
  color : white;
}

.card {

  // background:linear-gradient( #380000,  #8B0000);
  background-color: #90B695;
  opacity: 0.9;
  min-height: 235px;
  min-width: 260px;
  max-width: 260px;
  border-radius: 10px;
  border: 3px solid black;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card {
  strong {
  color:white
}
}

