// # © 2025 Violaine Soulas Tous droits réservés.
// #  Propriété exclusive de Violaine Soulas.
// #  Toute reproduction, même partielle, est interdite sans l'autorisation écrite de Violaine Soulas.
@import "show";
@import "new";

.add-player-profil a,
.player-profil-index-container a {
  text-decoration: none;
  color: inherit;
}
.card>i {
  font-size:54px;
  margin-top: 20px;
  color : white;
}

.card {
  // background-color: #90B695;
  background-color: #72BCE3;
  opacity: 0.9;
  min-height: 235px;
  min-width: 260px;
  max-width: 260px;
  border-radius: 8px;
  border: 3px solid black;
}

.card-img-top {
  max-width: 100%;
  height: auto;

}

.card {
  strong {
  color:white
}
}
