.container a {
  text-decoration: none;
  color: inherit;
}

.player-card-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F5F5F5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 250px;
  height: 250px;
}

.player-card-show>p {
color : black;
}

strong {
  color : black;
  }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-player-profil {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
}

.total {
  background: #F5F5F5;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  color: black;
  margin: 20px 0;
}

.total > p {
  color:black;
}

h4 {
  font-weight: bolder;
}

.details-eval {
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 10px;
}
