.container a {
  text-decoration: none;
  color: inherit;
}

.player-card-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  max-width: 400px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
