.form-control {
  border-radius: 6px;
}

.form-player-profil label {
  color:#A3A3A3;
}

.container a {
  color:#A3A3A3;
}

.btn-new-joueur:hover {
  background-color: #8A8A8A;
  color: white;
}
.btn-new-joueur {
  background-color: #A3A3A3;
  color: white;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
}

#player_profil_photo {
  // background-color: #90B695;
  background-color: #72BCE3;
}
