.form-control {
  border-radius: 6px;
}


.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.form-player-profil label {
  color:#A3A3A3;
}

.container a {
  color:#A3A3A3;
}

.btn-new-joueur:hover {
  background-color: #8A8A8A;
  color: white;
}

.btn-new-joueur {
  background-color: #A3A3A3;
  color: white;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
}

#player_profil_photo {
color: white;
 background-color: #A3A3A3;
}
