// # © 2025 Violaine Soulas Tous droits réservés.
// #  Propriété exclusive de Violaine Soulas.
// #  Toute reproduction, même partielle, est interdite sans l'autorisation écrite de Violaine Soulas.
@import "show";
@import "new";
.add-absence {
  display: flex;
  justify-content: end;
}

#attendance_status > option {
  color:black
}
 #attendance_user_id > option {
  color:black
}

h1 {
  font-family: "Kanit", sans-serif;
}


