.training-details {
  padding: 20px;
  background-color: #EBFFEB;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: fit-content;
}
 .training-details p {
  color: black;
  text-align: center;
  font-size: 1.2em;
 }

 .table-bordered > th{
  background-color: #EBFFEB;
 }

  
