// # © 2025 Violaine Soulas Tous droits réservés.
// #  Propriété exclusive de Violaine Soulas.
// #  Toute reproduction, même partielle, est interdite sans l'autorisation écrite de Violaine Soulas.

.training-details {
  padding: 20px;
  // background-color: #EBFFEB;
  background-color: #72BCE3;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  width: fit-content;
  min-width: 350px;
}
 .training-details p {
  color: black;
  text-align: center;
  font-size: 1.2em;
 }

 .table-bordered > th{
  background-color: #EBFFEB;
 }

 @media (max-width: 768px) {
  table th, table td {
    font-size: 12px; /* Réduire la taille de la police */
    padding: 5px;   /* Réduire l'espace dans les cellules */
  }
}
