// # © 2025 Violaine Soulas Tous droits réservés.
// #  Propriété exclusive de Violaine Soulas.
// #  Toute reproduction, même partielle, est interdite sans l'autorisation écrite de Violaine Soulas.
table, tr, tbody {
  border-width: 0;
  background-color: #F4F4F4;
}
h1 {
  font-family: "Kanit", sans-serif;
}

