// # © 2025 Violaine Soulas Tous droits réservés.
// #  Propriété exclusive de Violaine Soulas.
// #  Toute reproduction, même partielle, est interdite sans l'autorisation écrite de Violaine Soulas.
.details-match {
  background-color: #f5f5f5;
 border-radius: 4px;
 padding:20px ;
 box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.details-match p {
  color:black;
}
