.container-fluid {
  background-color: #F5F5F5;
}
.navbar-lewagon {
  justify-content: space-between;
  background: #F5F5F5;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  object-fit: cover; /* super important pour ne pas déformer l'image */
  border-radius: 50%;
}

.nom {
  display: flex;
  align-items: center;
}
#nom {
  font-family: "Russo One", sans-serif;
}

.dropdown-menu {
  right: 0;
  left: auto;
  min-width: max-content;
  z-index: 1050;
}




