// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Player_profils
@import "player_profils/index";

/// Player_profils
@import "trainings/index";
@import "trainings/show";

//MatchPerformances
@import "match_performances/index";
@import "match_performances/show";
@import "match_performances/new";

// JobLoadEvaluations
@import "job_load_evaluations/new";

body {
  // background-color: #716969;
  // background-color: #3D3E3E;
  background-color: #262626;
  overflow-x: hidden;
}

* {
  color : white;
}
