<div class="container">
  <%= @player_profils.each do |player| %>
    <div class="player-profil-index">
      <%= player_profil.first_name %>
      <%= player_profil.last_name %>
    </div>
  <% end %>
</div>
