<div class="container">
  <% if current_user.entraineur?%>
    <h4>Entraîenemnts et joueurs</h4>
      <% @attendances.each do |a| %>
        <%= "#{a.user.player_profil.first_name} #{ a.user.player_profil.last_name}" %>
        <%= a.status %>
        <%= a.training.date %>
      <% end %>
    <% end %>


</div>
